__pycache__/
*.pyc
*.pyo
*.pyd
utils/__pycache__/config.cpython-311.pyc
utils/__pycache__/drift.cpython-311.pyc
utils/__pycache__/metrics.cpython-311.pyc

venv/
.env/
.envrc

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

logs/
*.log

models/
*.joblib
*.pkl

.streamlit/

.pytest_cache/
